name: pytest

on:
  pull_request:

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: fortitudo.tech-dev
          environment-file: requirements.yml
      - run: pytest --cov=fortitudo/tech --cov-fail-under=100 --cov-report=xml
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
